<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset=utf8>
         <meta http-equiv="refresh" content="2000"> 
         <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" />
         <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
         <link rel="stylesheet" href="../static/css/user.css" type="text/css" />
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
         <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    </head>
    <body>
       <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-inner">
	      <h4 class="font-title text-info offset2">微博备份工具</h4>
         </div>
       </div>
       <div class="container" id="container">
         <div class="row-fluid">
	    {% block contain %}
	    {% endblock %}
	 </div>
       </div>
    <body>
</html>