.label-weibo{
    margin:15px;
    background:#0040FF;
}

.label-date{
    background:#00CACA;
}

.text{
    margin-left:15px;
}

.label-text{
    margin:15px;
}

.other-text{
    background:#F6D8CE;
}